---
import '@/styles/globals.css';
import SkyShader2 from '@/components/SkyShader2';
import CloudComponent from '@/components/CloudComponent';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Sunrise to Sunset</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet" />
    </head>
    <body class="light bg-gradient-to-b from-blue-100 to-blue-900">
        <div class="relative w-screen h-screen overflow-hidden">
            <!-- <div class="absolute inset-0 z-10 pointer-events-none">
                <CloudComponent client:only="react" />
            </div> -->
            <SkyShader2 client:only="react" />

            <div class="relative z-20 w-screen h-screen flex flex-col justify-center items-center">
                <div class="w-full h-[50vh] mt-8">
                    <!-- Your content here -->
                </div>
            </div>
        </div>
    </body>
</html>
