---
import '@/styles/globals.css';
import SkyShader2 from '@/components/SkyShader2';
import Navigation from '@/components/Navigation';
import MediaCarousel from '@/components/MediaCarousel';

const carouselItems = [
    {
        type: 'image',
        src: '/pratexo-concept.png',
        alt: 'Pratexo',
        duration: 6000,
        dimensions: 'h-full lg:min-w-[800px] rounded-3xl shadow-2xl overflow-hidden border-8 border-white/10'
    },
    {
        type: 'video',
        src: '/lsi.mp4',
        duration: 6000,
        dimensions: 'h-full lg:min-w-[800px] rounded-3xl shadow-2xl overflow-hidden border-8 border-white/10'
    },
    { type: 'video', src: '/bch.mp4', duration: 6000, dimensions: 'h-full lg:min-w-[800px] rounded-3xl shadow-2xl overflow-hidden border-8 border-white/10' },
    { type: 'video', src: '/spaced.mp4', duration: 9000, dimensions: 'max-h-[700px] rounded-[60px] shadow-2xl overflow-hidden border-8 border-white/10' }
    // Add more items as needed
];
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Sunrise to Sunset</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet" />
    </head>
    <body class="bg-white text-white">
        <div class="p-4">
            <div class="relative w-full h-[calc(100vh-2rem)] rounded-3xl overflow-hidden">
                <div class="absolute top-0 left-0 w-full h-full flex flex-col">
                    <Navigation client:load />
                    <div class="flex flex-col md:flex-row justify-between mt-32 md:mt-40 p-8 text-[#f9f2e9] z-50 w-full">
                        <div class="text-left z-50 h-fit md:w-[45%] mb-8 md:mb-0">
                            <h1 class="text-2xl md:text-4xl font-light mb-2 lora-font !leading-snug">
                                Product design leader & <a href="https://leadscoutapp.com" target="_blank" class="italic underline">founder</a> building <span
                                    class="italic bg-amber-500/45">high-craft</span
                                >,
                                <span class="italic bg-amber-500/45">impact-driven</span> businesses
                            </h1>
                            <p class="text-md md:text-lg font-light opacity-75 !leading-snug">
                                Product teams and early stage companies who are tackling the world's most important problems hire me to design their products
                                and business models so they can quickly achieve product-market fit and scale up.
                            </p>
                        </div>
                        <div class="text-left z-50 md:w-[45%]" id="media-carousel">
                            <MediaCarousel
                                client:load
                                items={carouselItems}
                                className="w-full rounded-xl"
                                defaultInterval={4000}
                                defaultDimensions="w-full h-64 md:h-96"
                            />
                        </div>
                    </div>
                </div>
                <div class="w-full h-full overflow-hidden">
                    <SkyShader2 client:only="react" />
                </div>
                <img
                    src="/windmill.png"
                    alt="Windmill"
                    class="absolute bottom-0 -left-32 md:-bottom-32 md:-left-64 w-full md:w-1/2 h-auto mix-blend-multiply z-10"
                />
            </div>
        </div>
    </body>
</html>
